/* tablet & mobile */
@media (max-width:  63.9375em) {
    .header__mobile {
        display: flex;
    }
    .header{
        height: 60px;
    }

    .header-2{
        margin-top: 60px;
    }

    .header__navbar{
        padding: 0 16px;
        display: none;
    }


    .header-2__navbar{
        justify-content: center;
    }

    .none {
        display: none;
    }

    .container__category-btn {
        width: 130px;
        font-size: 1.8rem;
        line-height: 48px;
    }

    .container__adv{
        background-position: left;
    }

}

/* tablet */
@media (min-width: 46.25em) and (max-width:  63.9375em) {
    .container__category-btn {
        width: 130px;
        font-size: 1.8rem;
        line-height: 48px;
    }

}

/* mobile */
@media screen and (max-width: 46.1875em) {
    .navbar-list-mobile{
        display: none;
    }
    
    .container__category-btn {
        width: 100px;
        font-size: 1.5rem;
        line-height: 30px;
    }

    .container__category-list {
        padding-top: 42px;
        display: flex;
        float: left;
        margin-bottom: 30px;
    }

    .container__category-scroll {
        overflow-x: auto;
        max-width: 100%;
        margin: 0 10px;
    }
}